language: python

# Pre-install packages for the ubuntu distribution
cache:
  apt: true
  directories:
    - $HOME/.cache/pip
    - $HOME/download
  addons:
    apt:
      packages:
        - libatlas3gf-base
        - libatlas-dev
        # only required by the DISTRIB="ubuntu"
      build:
        - python-scipy

virtualenv:
  system_site_packages: true

notifications:
  email: false

env:
  global:
    - TEST_DIR="/tmp/iced" # folder where the tests are run from
  matrix:
    # Ubuntu 14.04 versions
    - DISTRIB="conda" PYTHON_VERSION="2.7"
      NUMPY_VERSION="1.7" SCIPY_VERSION="0.13"
      PANDAS_VERSION="0.13"
    - DISTRIB="conda" PYTHON_VERSION="2.7" 
      NUMPY_VERSION="1.10" SCIPY_VERSION="0.16.0"
      PANDAS_VERSION="0.17"
    - DISTRIB="conda" PYTHON_VERSION="3.5" 
      NUMPY_VERSION="1.12" SCIPY_VERSION="0.18" 
      COVERAGE=TRUE PANDAS_VERSION="0.19"

install: source build_tools/travis/install.sh
script: bash build_tools/travis/test_script.sh
after_success: source build_tools/travis/after_success.sh
